*{
    box-sizing: border-box;
}

body{
    padding:0;
    margin:0;
}

.heroSection{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:#121212;
    color:white;
    font-size: 3em;
}