{{extend 'layout.html'}}

<div class="main-form-wrapper">
  <h2>New Activity</h2>
  <form class="create-form" action="#" enctype="multipart/form-data" method="POST">
    <table class="contact-table">
      <tr>
        <td>Contact Id:</td>
        <td>
          <select onchange="addFromDropDown(this.value)" name="contact_id" class="form-control form-control-changes">
            {{for row in contacts:}} {{=OPTION(''.join([row.first_name, ' ', row.last_name]), _value=row.id)}}
            {{pass}}
            <option value="addContact" class="option-link" onclick='addSic()'>Add Contact
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Activity Type:</td>
        <td>
          <select onchange="addFromDropDown(this.value)" name="activity_type_id"
            class="form-control form-control-changes">
            {{for row in activityType:}} {{=OPTION(row.description, _value=row.id)}}
            {{pass}}
            <option value="addActType" class="option-link" onclick='addSic()'>Add activity type
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Activity Date:</td>
        <td>
          <input type="text" class="form-control form-control-changes" name="activity_date" />
        </td>
      </tr>
      <tr>
        <td>Notes:</td>
        <td>
          <textarea class="form-control form-control-changes" name="notes">
          </textarea>
        </td>
      </tr>
      <tr>
        <td>Account Manager:</td>
        <td>
          <select onchange="addFromDropDown(this.value)" name="account_manager"
            class="form-control form-control-changes">
            {{for row in employees:}} {{=OPTION(''.join([row.first_name,' ', row.last_name]), _value=row.id)}}
            {{pass}}
            <option value="addEmployee" class="option-link" onclick='addSic()'>Add Employee
            </option>
          </select>
        </td>
      </tr>
    </table>
    <input type="submit" value="Create" class="btn btn-primary" />
    <input type="hidden" name="_formname" value="createOrder" />
  </form>
</div>

<script>
  function addFromDropDown(value) {
    switch (value) {
      case "addActType":
        window.location.href = "{{=URL('activity_type_create')}}";
        break;
      case "addContact":
        window.location.href = "{{=URL('contact_create')}}";
        break;
      case "addEmployee":
        window.location.href = "{{=URL('employee_create')}}";
        break;
      case "addSic":
        window.location.href = "{{=URL('sic_create')}}";
        break;
      case "addCompany":
        window.location.href = "{{=URL('company_create')}}";
        break;
      case "addLocation":
        window.location.href = "{{=URL('location_create')}}";
        break;
      case "addContactType":
        window.location.href = "{{=URL('contact_type_create')}}";
        break;
      case "addState":
        window.location.href = "{{=URL('state_create')}}";
        break;
      default:
      //do nothing
    }
  }


</script>