{{extend 'layout.html'}}
<div class="tableWrapper">
    <table class="defaultTable ">
        <caption>
            Locations
            {{ = A('add Activity',_class="addTableData", _href = URL('activities_create'))}}</td>
        </caption>

        <head>
            <th>Contact Involved</th>
            <th>Activity type</th>
            <th>Date</th>
            <th>notes</th>
            <th>in contact with</th>
        </head>
        {{for activity in activities:}}
        <tr>
            <td>{{= P(activity.contacts.name, _class='dbItem')}}</td>
            <td>{{= P(activity.activities.activity_type_id, _class='dbItem')}}</td>
            <td>{{= P(activity.activities.activity_date, _class='dbItem')}}</td>
            <td>{{= P(activity.activities.notes, _class='dbItem')}}</td>
            <td>{{= P(activity.activities.in_contact, _class='dbItem')}}</td>
        </tr>
        {{pass}}
    </table>
</div>