{{extend 'layout.html'}}
<div class="tableWrapper">
    <table class="defaultTable ">
        <caption>
            Company Locations
            {{ = A('add relationship',_class="addTableData", _href = URL('companies_to_locations_create'))}}</td>
        </caption>

        <head>
            <th>Company Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Phone number</th>

        </head>
        {{for relationship in companyLocations:}}
        <tr>
            <td>{{= P(relationship.companies.company_name, _class='dbItem')}}</td>
            <td>{{= P(relationship.locations.address, _class='dbItem')}}</td>
            <td>{{= P(relationship.locations.city, _class='dbItem')}}</td>
            <td>{{= P(relationship.states.state_name, _class='dbItem')}}</td>
            <td>{{= P(relationship.locations.zip, _class='dbItem')}}</td>
            <td>{{= P(relationship.locations.phone, _class='dbItem')}}</td>

        </tr>
        {{pass}}
    </table>
</div>