{{extend 'layout.html'}}
<div class='main-form-wrapper'>
    <h2>
        New Company
    </h2>

    <form class="create-form" action="#" enctype="multipart/form-data" method="post">
        <label class="m-2">Company Name:</label>
        <input class="form-control form-control-changes m-2" type='text' name='company_name'>
        <label class="m-2">Company SIC ID:</label>
        <select onchange="addFromDropDown(this.value)" class="form-control form-control-changes m-2" name="sic_desc">
            <option value="">
            </option>
            {{for row in sics:}}
            {{=OPTION(''.join([str(row.sic_id), ' - ', row.description]), _value=row.id)}}
            {{pass}}
            <option value="addSic" class="option-link" onclick='addSic()'>Add SIC
            </option>
        </select>
        <input type='submit' value="Create" class="btn btn-primary">
        <input type="hidden" name="_formname" value="companyCreate" />
    </form>
</div>

<script>
    function addFromDropDown(value) {
        switch (value) {
            case "addSic":
                window.location.href = "{{=URL('sic_create')}}";
                break;
            case "addCompany":
                window.location.href = "{{=URL('company_create')}}";
                break;
            case "addLocation":
                window.location.href = "{{=URL('location_create')}}";
                break;
            case "addContactType":
                window.location.href = "{{=URL('contact_type_create')}}";
                break;
            case "addState":
                window.location.href = "{{=URL('state_create')}}";
                break;
            default:
            //do nothing
        }
    }
</script>