{{extend 'layout.html'}}

<div class='main-form-wrapper'>
    <h2>
        Custom Form Example
    </h2>

    <form class="create-form" action="#" enctype="multipart/form-data" name="test" method="post">
        <table class='contact-table'>
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    <input type='text' class='form-control' name='name'>
                </td>
                <td>
                    Email:
                </td>
                <td>
                    <input type='text' class='form-control' name='email'>
                </td>
            </tr>
            <tr>
                <td>
                    Office Phone:
                </td>
                <td>
                    <input type='text' class='form-control' name='office_phone'>
                </td>
                <td>
                    Cell Phone:
                </td>
                <td>
                    <input type='text' class='form-control' name='cell_phone'>
                </td>
            </tr>
            <tr>
                <td>
                    Home Address:
                </td>
                <td>
                    <input type='text' class='form-control' name='home_address'>
                </td>
                <td>
                    Home City:
                </td>
                <td>
                    <input type='text' class='form-control' name='home_city'>
                </td>
            </tr>
            <tr>
                <td>
                    State:
                </td>
                <td>
                    <input type='text' class='form-control' name='states'>
                </td>
                <td>
                    Zip Code:
                </td>
                <td>
                    <input type='text' class='form-control' name='home_zip'>
                </td>
            </tr>
            <tr>
                <td>
                    Company:
                </td>
                <td>
                    <input type='text' class='form-control' name='company_id'>
                </td>
                <td>
                    Title:
                </td>
                <td>
                    <input type='text' class='form-control' name='title'>
                </td>
            </tr>
            <tr>
                <td>
                    contact type:
                </td>
                <td>
                    <input type='text' class='form-control' name='contact_type_id'>
                </td>
                <td>
            </tr>
        </table>
        <input type="submit" class="btn btn-primary" />
    </form>
</div>