{{extend 'layout.html'}}
<div class="tableWrapper">
    <table class="defaultTable ">
        <caption>
            Contacts
            {{ = A('add contact',_class="addTableData", _href = URL('contact_create'))}}</td>
        </caption>

        <head>
            <th>id</th>
            <th>name</th>
            <th>email</th>
            <th>home address</th>
            <th>home city</th>
            <th>state</th>
            <th>home zip</th>
            <th>company id</th>
            <th>title</th>
            <th>office phone</th>
            <th>cell phone</th>
            <th>contact type</th>
        </head>
        {{for contact in contacts:}}
        <tr>
            <td>{{= P(contact.contacts.id, _class='dbItem')}}</td>
            <td>{{= P(contact.contacts.name, _class='dbItem')}}</td>
            <td>{{= P(contact.contacts.email, _class='dbItem')}}</td>
            <td>{{= P(contact.contacts.home_address, _class='dbItem')}}</td>
            <td>{{= P(contact.contacts.home_city, _class='dbItem')}}</td>
            <td>{{= P(contact.states.state_name, _class='dbItem')}}</td>
            <td>{{= P(contact.contacts.home_zip, _class='dbItem')}}</td>
            <td>{{= P(contact.companies.company_name, _class='dbItem')}}</td>
            <td>{{= P(contact.contacts.title, _class='dbItem')}}</td>
            <td>{{= P(contact.contacts.office_phone, _class='dbItem')}}</td>
            <td>{{= P(contact.contacts.cell_phone, _class='dbItem')}}</td>
            <td>{{= P(contact.contact_type.description, _class='dbItem')}}</td>
        </tr>
        {{pass}}
    </table>
</div>
{{ = A('add contact', _href = URL('contact_create'))}}</td>