{{extend 'layout.html'}}

<div class='main-form-wrapper'>
    <h2>
        New Contacts
    </h2>
    <form class="create-form" action="#" enctype="multipart/form-data" method="POST">
        <table class='contact-table'>
            <tr>
                <td>
                    First Name:
                </td>
                <td>
                    <input type='text' class='form-control form-control-changes' name='first_name'>
                </td>
                <td>
                    Last Name:
                </td>
                <td>
                    <input type='text' class='form-control form-control-changes' name='last_name'>
                </td>
            </tr>
            <tr>
                <td>
                    Email:
                </td>
                <td>
                    <input type='text' class='form-control form-control-changes' name='email'>
                </td>
                <td>
                    Title:
                </td>
                <td>
                    <input type='text' class='form-control form-control-changes' name='title'>
                </td>

            </tr>
            <tr>
                <td>
                    Office Phone:
                </td>
                <td>
                    <input type='text' class='form-control form-control-changes' name='office_phone'>
                </td>
                <td>
                    Cell Phone:
                </td>
                <td>
                    <input type='text' class='form-control form-control-changes' name='cell_phone'>
                </td>
            </tr>
            <tr>
                <td>
                    Home Address:
                </td>
                <td>
                    <input type='text' class='form-control form-control-changes' name='home_address'>
                </td>
                <td>
                    Home City:
                </td>
                <td>
                    <input type='text' class='form-control form-control-changes' name='home_city'>
                </td>
            </tr>
            <tr>
                <td>
                    State:

                </td>
                <td>
                    <select onchange="addFromDropDown(this.value)" name="states"
                        class="form-control form-control-changes">
                        <option value="">
                        </option>
                        {{for row in states:}}
                        {{=OPTION(row.state_name, _value=row.id)}}
                        {{pass}}
                    </select>
                </td>
                <td>
                    Zip Code:
                </td>
                <td>
                    <input type='text' class='form-control form-control-changes ' name='home_zip'>
                </td>
            </tr>
            <tr>
                <td>
                    Company:
                </td>
                <td>
                    <select onchange="addFromDropDown(this.value)" name="company_id"
                        class="form-control form-control-changes">
                        <option value="">
                        </option>
                        {{for row in companies:}}
                        {{=OPTION(row.company_name, _value=row.id)}}
                        {{pass}}
                        <option value="addCompany" class="option-link">Add Company
                        </option>
                    </select>
                </td>

                <td>
                    Company Address:
                </td>
                <td>
                    <select onchange="addFromDropDown(this.value)" name="company_location"
                        class="form-control form-control-changes">
                        <option value="">
                        </option>
                        {{for row in locations:}}
                        {{=OPTION(row.address, _value=row.id)}}
                        {{pass}}
                        <option value="addLocation" class="option-link">Add Company Address
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Contact Type:
                </td>
                <td>
                    <select onchange="addFromDropDown(this.value)" name="contact_type_id"
                        class="form-control form-control-changes">
                        <option value="">
                        </option>
                        {{for row in contactType:}}
                        {{=OPTION(row.description, _value=row.id)}}
                        {{pass}}
                        <option value="addContactType" class="option-link">Add Contact Type
                        </option>
                    </select>
                </td>

            </tr>
        </table>
        <input type="submit" value="Create" class="btn btn-primary" />
        <input type="hidden" name="_formname" value="test" />
    </form>
</div>

<script>

    function addFromDropDown(value) {
        switch (value) {
            case "addCompany":
                window.location.href = "{{=URL('company_create')}}";
                break;
            case "addLocation":
                window.location.href = "{{=URL('location_create')}}";
                break;
            case "addContactType":
                window.location.href = "{{=URL('contact_type_create')}}";
                break;
            case "addState":
                window.location.href = "{{=URL('state_create')}}";
                break;
            default:
            //do nothing
        }
    }
</script>