<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{=URL('static', 'css/dashboard.css')}}">
    <title>Dashboard</title>
</head>

<body>
    <div class="dash-hero">
        <h1>{{=authAccount[0]['first_name']}}'s Dashboard</h1>
    </div>
    {{extend 'layout.html'}}
    <div class="contentWrapper">
        <div id="sidebar">
            <ul>
                <li>My Activities</li>
                <li>My Leads</li>
                <li>Contacts</li>
                <li>Reports</li>
            </ul>
            <div id="closeSideBar">
                <h1> X </h1>
            </div>
        </div>

        <div id="tabs-container">
            <div id="activity-tab-wrapper">
                <h1>My Upcoming Activities</h1>


                {{for idx, activity in enumerate(activities):}}
                <div class="act-card" data-index="{{=(idx)}}">
                    <!-- loop through the activity type table to find the correct activity type for this activity -->
                    {{for activityT in activityType:}}
                    {{if activityT.id == activity.activity_type_id:}}
                    <div class="info-card-section">
                        {{=P(activity.id, _class="activity-id")}}
                        {{=H1(activityT.description, _class='card-title')}}
                        {{=H3(activity.activity_date, _class='card-date')}}
                    </div>
                    {{=P(activity.notes, _class='card-notes')}}
                    {{pass}}
                    {{pass}}
                </div>
                {{pass}}
            </div>
            <div id="leads-tab-wrapper">
                <h1>My Leads</h1>
                {{for idx, lead in enumerate(leads):}}
                <div class="act-card" data-index="{{=(idx)}}">
                    <!-- loop through the activity type table to find the correct activity type for this activity -->
                    {{for type in leadType:}}
                    {{if type.id == lead.lead_source:}}
                    <div class="info-card-section">
                        {{=P(lead.id, _class="activity-id")}}
                        {{=H1(lead.lead_name, _class='card-title')}}
                        {{=H3(type.description, _class='card-date')}}
                    </div>
                    {{=P(lead.lead_notes, _class='card-notes')}}
                    {{pass}}
                    {{pass}}
                </div>
                {{pass}}
            </div>
        </div>
        <div id="myLeads">

        </div>
    </div>

</body>
<script>
    document.getElementById('closeSideBar').addEventListener('click', function () {
        sidebar = document.getElementById('sidebar');
        console.log(window.getComputedStyle(sidebar,));
        if (window.getComputedStyle(sidebar).getPropertyValue('left') == '0px') {
            console.log("clicked");
            sidebar.style.left = '-250px';
        } else {
            document.getElementById('sidebar').style.left = '0';
        }
    });
</script>

</html>