<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/style.css')}}">
    <title>Limco Dashboard</title>
</head>

<body>
    <div class="dash-hero">
        <h1>Limco Dashboard</h1>
    </div>

    <div class="main-content">
        <div class="dash-nav">
            <ul>
                <li><a href="{{=URL('default', 'contacts')}}">Contacts</a></li>
                <li><a href="{{=URL('default', 'companies')}}">Companies</a></li>
                <li><a href="{{=URL('default', 'activities')}}">Activities</a></li>
                <li><a href="{{=URL('default', 'orders')}}">Orders</a></li>
            </ul>
        </div>

        <h2>Upcoming Activities</h2>
        <div id="activity-bar" class="activity-bar">
            <div class="second-activity-container">
                {{for activity in activities:}}
                <div class="activities-card">
                    {{for activityT in activityType:}}
                    {{if activityT.id == activity.activity_type_id:}}
                    <div>
                        {{=H1(activityT.description, _class='card-title')}}
                        {{=H3(activity.activity_date, _class='card-date')}}
                    </div>
                    {{=P(activity.notes, _class='card-notes')}}
                    {{pass}}
                    {{pass}}
                </div>
                {{pass}}
            </div>
        </div>
    </div>

    <div id="activity-modal">
        <div class="large-activity-card">
            <p>hello</p>
        </div>
    </div>
</body>
<script>
    let upcomingActivities = document.getElementsByClassName('activities-card');
    console.log(upcomingActivities);

    document.getElementById('activity-bar').style.height = upcomingActivities[0].offsetHeight + 20 + "px";

    //loop through all upcomming activities and set their position in the div
    //also set their onclick event to open the activity in a modal
    let activityPosition = 0;
    for (let i = 0; i < upcomingActivities.length; i++) {
        upcomingActivities[i].style.left = activityPosition + 'px';
        activityPosition += upcomingActivities[i].offsetWidth + 10;
    }

    for (i = 0; i < upcomingActivities.length; i++) {
        upcomingActivities[i].onclick = function () {
            let activityModal = document.getElementById('activity-modal');
            activityModal.style.display = 'flex';
        }
    }

    

</script>

</html>