{{extend 'layout.html'}}
<div class='main-form-wrapper'>
    <h2>
        New Lead
    </h2>
    <form class="create-form" action="#" enctype="multipart/form-data" method="POST">
        <table class='contact-table'>
            <tr>
                <td>
                    First Name:
                </td>
                <td>
                    <input type='text' class='form-control form-control-changes' name='first_name'>
                </td>
                <td>
                    Last Name:
                </td>
                <td>
                    <input type='text' class='form-control form-control-changes' name='last_name'>
                </td>
            </tr>
            <tr>
                <td>
                    Email:
                </td>
                <td>
                    <input type='text' class='form-control form-control-changes' name='lead_email'>
                </td>
                <td>
                    Phone Number:
                </td>
                <td>
                    <input type='text' class='form-control form-control-changes' name='lead_phone'>
                </td>

            </tr>
            <tr>
                <td>
                    Address:
                </td>
                <td>
                    <input type='text' class='form-control form-control-changes' name='lead_address'>
                </td>
                <td>
                    City:
                </td>
                <td>
                    <input type='text' class='form-control form-control-changes' name='lead_city'>
                </td>
            </tr>
            <tr>
                <td>
                    State:

                </td>
                <td>
                    <select onchange="addFromDropDown(this.value)" name="lead_state"
                        class="form-control form-control-changes">
                        <option value="">
                        </option>
                        {{for row in states:}}
                        {{=OPTION(row.state_name, _value=row.id)}}
                        {{pass}}
                    </select>
                </td>
                <td>
                    Zip Code:
                </td>
                <td>
                    <input type='text' class='form-control form-control-changes ' name='lead_zip'>
                </td>
            </tr>
            <tr>
                <td>Notes:</td>
                <td>
                    <textarea class="form-control form-control-changes" name="lead_notes">
                    </textarea>
                </td>
                <td>Lead Type</td>
                <td>
                    <select onchange="addFromDropDown(this.value)" name="lead_source"
                        class="form-control form-control-changes">
                        <option value="">
                        </option>
                        {{for row in leadSource:}}
                        {{=OPTION(row.description, _value=row.id)}}
                        {{pass}}
                        <option value="addLeadType" class="option-link"'>Add Lead Type
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Account Manager:
                </td>
                <td>
                    <select onchange="addFromDropDown(this.value)" name="account_manager"
                        class="form-control form-control-changes">
                        <option value="">
                        </option>
                        {{for row in employees:}}
                        {{=OPTION(''.join([row.first_name,' ', row.last_name]), _value=row.id)}}
                        {{pass}}
                        <option value="addState" class="option-link" onclick=' addState()'>Add Acount Manager
                        </option>
                    </select>
                </td>
            </tr>
        </table>
        <input type="submit" value="Create" class="btn btn-primary" />
        <input type="hidden" name="_formname" value="leadCreate" />
    </form>
</div>

<script>

    function addFromDropDown(value) {
        switch (value) {
            case "addCompany":
                window.location.href = "{{=URL('company_create')}}";
                break;
            case "addLocation":
                window.location.href = "{{=URL('location_create')}}";
                break;
            case "addContactType":
                window.location.href = "{{=URL('contact_type_create')}}";
                break;
            case "addState":
                window.location.href = "{{=URL('state_create')}}";
                break;
            case "addLeadType":
                window.location.href = "{{=URL('lead_source_create')}}";
                break;
            default:
            //do nothing
        }
    }
</script>