{{extend 'layout.html'}}
<div class="tableWrapper">
    <table class="defaultTable ">
        <caption>
            Locations
            {{ = A('add Location',_class="addTableData", _href = URL('location_create'))}}</td>
        </caption>

        <head>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Phone</th>
        </head>
        {{for location in locations:}}
        <tr>
            <td>{{= P(location.locations.address, _class='dbItem')}}</td>
            <td>{{= P(location.locations.city, _class='dbItem')}}</td>
            <td>{{= P(location.states.state_name, _class='dbItem')}}</td>
            <td>{{= P(location.locations.zip, _class='dbItem')}}</td>
            <td>{{= P(location.locations.phone, _class='dbItem')}}</td>
        </tr>
        {{pass}}
    </table>
</div>