{{extend 'layout.html'}}

<div class='main-form-wrapper'>
    <h2>
        New Order
    </h2>
    <form class="create-form" action="#" enctype="multipart/form-data" method="POST">
        <table class='contact-table'>
            <tr>
                <td>
                    Customer:
                </td>
                <td>
                    <select onchange="addFromDropDown(this.value)" name="customer"
                        class="form-control form-control-changes">
                        <option value="">
                        </option>
                        {{for row in contacts:}}
                        {{=OPTION(''.join([row.last_name, ' ', row.first_name]), _value=row.id)}}
                        {{pass}}
                        <option value="addContact" class="option-link" onclick='addContact()'>Add Contact
                        </option>
                    </select>
                </td>
                <td>
                    Order Item:
                </td>
                <td>
                    <input type='text' class='form-control form-control-changes' name='order_item'>
                </td>
            </tr>
            <tr>
                <td>
                    Order type:
                </td>
                <td>
                    <input type='text' class='form-control form-control-changes' name='order_type'>
                </td>
                <td>
                    Price:
                </td>
                <td>
                    <input type='text' class='form-control form-control-changes' name='order_amount'>
                </td>
            </tr>
            <tr>
                <td>
                    Order date:
                </td>
                <td>
                    <input type='text' class='form-control form-control-changes' name='order_date'>
                </td>
                <td>
                    Notes:
                </td>
                <td>
                    <textarea class='form-control form-control-changes' name='order_notes'>
                    </textarea>
                </td>
            </tr>
            <tr>
                <td>
                    Account Manager:
                </td>
                <td>
                    <select onchange="addFromDropDown(this.value)" name="account_manager"
                        class="form-control form-control-changes">
                        <option value="">
                        </option>
                        {{for row in employees:}}
                        {{=OPTION(''.join([row.last_name, ' ', row.first_name]), _value=row.id)}}
                        {{pass}}
                        <option value="addEmployee" class="option-link" onclick='addEmployee()'>Add Employee
                        </option>
                    </select>
                </td>
                <td>
                    Zip Code:
                </td>
                <td>
                    <input type='text' class='form-control form-control-changes ' name='home_zip'>
                </td>
            </tr>
        </table>
        <input type="submit" value="Create" class="btn btn-primary" />
        <input type="hidden" name="_formname" value="createOrder" />
    </form>
</div>

<script>
    function addFromDropDown(value) {
        switch (value) {
            case "addContact":
                window.location.href = "{{=URL('contact_create')}}";
                break;
            case "addEmployee":
                window.location.href = "{{=URL('employee_create')}}";
                break;
            case "addSic":
                window.location.href = "{{=URL('sic_create')}}";
                break;
            case "addCompany":
                window.location.href = "{{=URL('company_create')}}";
                break;
            case "addLocation":
                window.location.href = "{{=URL('location_create')}}";
                break;
            case "addContactType":
                window.location.href = "{{=URL('contact_type_create')}}";
                break;
            case "addState":
                window.location.href = "{{=URL('state_create')}}";
                break;
            default:
            //do nothing
        }
    }
    function addContact() {
        window.location.href = "{{=URL('contact_create')}}";
    }
    function addEmployee() {
        window.location.href = "{{=URL('employee_create')}}";
    }
</script>