{{extend 'layout.html'}}
<div class="tableWrapper">
    <table class="defaultTable ">
        <caption>
            Sic
            {{ = A('add sic',_class="addTableData", _href = URL('sic_create'))}}</td>
        </caption>

        <head>
            <th>sic id</th>
            <th>Description</th>
        </head>
        {{for sic in sics:}}
        <tr>
            <td>{{= P(sic.sic_id, _class='dbItem')}}</td>
            <td>{{= P(sic.description, _class='dbItem')}}</td>
        </tr>
        {{pass}}
    </table>
</div>