{{extend 'layout.html'}}
<div class="main-form-wrapper">
  <h2>SIC Codes</h2>

  <form
    class="create-form"
    action="#"
    enctype="multipart/form-data"
    method="post"
  >
    <label class="m-2">SIC ID:</label>
    <input
      class="form-control form-control-changes m-2"
      type="text"
      name="sic_id"
    />
    <label class="m-2">SIC Description:</label>
    <input
      class="form-control form-control-changes m-2"
      type="text"
      name="description"
    />
    <input type="submit" value="Create" class="btn btn-primary" />
    <input type="hidden" name="_formname" value="sicCreate" />
  </form>
</div>

<script></script>
