/* stylesheet for the dashboard page */

body {
  background-color: blue;
  color: purple;
}

.contentWrapper {
  position: relative;
}
.activitiesCard {
  background-color: #171717;
}
#sidebar {
  display: inline-block;
  top: 0;
  left: 0;
  background-color: #343a40;
  width: 250px;
  min-height: 100vh;
  transition: all 0.3s ease-in-out;
}

#sidebar ul {
  display: block;
  margin: 0;
  padding: 0;
}
#sidebar ul a {
  display: block;
  color: white;
  text-decoration: none;
}
#sidebar ul li {
  display: block;
  color: white;
  list-style: none;
  padding: 1rem;
  border-bottom: 1px solid #343a40;
}
#sidebar ul li:hover {
  background-color: #171717;
  cursor: pointer;
}

#closeSideBar {
  position: absolute;
  display: none;
  top: 50%;
  right: -25px;
}

#tabs-container {
  position: relative;
  float: right;
  width: calc(100% - 250px);
}
.act-card {
  background-color: #171717;
  display: block;
  color: white;
  padding: 1rem;
  margin-top: 1rem;
}
.info-card-section {
  display: flex;
  justify-content: space-between;
}
.act-card:hover {
  cursor: pointer;
}

.card-title {
  display: inline;
}
.card-date {
  display: inline;
}
.card-notes {
  display: inline;
}

#activity-tab-wrapper {
  display: visible;
  position: absolute;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  background-color: white;
  top: 0;
  left: 0;
}
#leads-tab-wrapper {
  display: none;
  position: absolute;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  background-color: white;
  top: 0;
  left: 0;
}
#orders-tab-wrapper {
  display: none;
  position: absolute;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  background-color: white;
  top: 0;
  left: 0;
}
#sales-chart-wrapper {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: white;
  top: 0;
  left: 0;
}

#modal-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  padding-top: 1rem;
}

#modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  cursor: pointer;
}
.personal-modal-table {
  display: table;
  width: 100%;
}
.personal-modal-table td {
  padding: 1rem;
}
.personal-modal-table tbody tr:nth-child(even) {
  background-color: #171717;
  color: white;
}

@media screen and (max-width: 768px) {
  #sidebar {
    position: absolute;
    float: left;
  }

  #closeSideBar {
    display: block;
  }
}
