body {
  padding: 0;
  margin: 0;
}

/* --------------  index.html page -----------------------*/
.mainHero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* --------------------Dashboard ---------------------------- */

.dash-hero {
  background-image: url("../images/greenHero.jpg");
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /*  Tint color */
  background-blend-mode: multiply;
}

.dash-hero h1 {
  margin: 0;
  font-size: 3rem;
  color: white;
}

.dash-nav {
  background-color: #343a40;
  text-align: center;
}

.dash-nav ul {
  margin: 0;
  padding: 0;
}
.dash-nav ul li {
  display: inline-block;
  padding: 1rem;
  font-size: 1.25rem;
}
.dash-nav ul li:hover {
  background-color: blue;
}

.dash-nav a {
  color: white;
  text-decoration: none;
}
.dash-nav a:active {
  text-decoration: none;
  color: white;
}

.activity-bar {
  width: 100%;
}
.upcoming-activities {
  display: inline-block;
  text-align: center;
}
.activities-card {
  display: inline-block;
  width: 25%;
  margin: 1rem;
  background-color: #171717;
  color: white;
  padding: 1rem;
}
.side-bar p {
  padding: 0;
  margin: 0;
}

/* ----------------------create form------------- */
.main-form-wrapper {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(10, 67, 125);
  background: linear-gradient(
    243deg,
    rgba(10, 67, 125, 1) 0%,
    rgba(162, 0, 255, 1) 100%
  );
}

.main-form-wrapper h2 {
  color: white;
}

.create-form {
  display: inline-block;
  padding: 2rem;
  background-color: white;
  border-radius: 15px;
}

.contact-table th,
.contact-table td {
  padding: 15px;
}

.form-control-changes {
  border-color: black;
}

.option-link {
  color: blue;
  direction: rtl;
}
