body {
  padding: 0;
  margin: 0;
}

/* --------------  index.html page -----------------------*/
.mainHero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* --------------------Dashboard ---------------------------- */
.main-wrapper {
  /* display: grid;
  grid-template-columns: 1fr 2fr; */
}
.dash-hero {
  background-image: url("../images/greenHero.jpg");
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /*  Tint color */
  background-blend-mode: multiply;
}

.dash-hero h1 {
  margin: 0;
  font-size: 3rem;
  color: white;
}

.dash-nav {
  background-color: #343a40;
  text-align: center;
}

.dash-nav ul {
  margin: 0;
  padding: 0;
}
.dash-nav ul li {
  display: inline-block;
  padding: 1rem;
  font-size: 1.25rem;
  color: white;
  width: 5em;
}
.dash-nav ul li:hover {
  background-color: blue;
}

.dash-nav a {
  text-decoration: none;
  color: white;
}
.dash-nav a:active {
  text-decoration: none;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-links {
  position: absolute;
  display: none;
  z-index: 200;
  background-color: #343a40;
}

.activity-bar {
  display: inline-block;
  width: 100%;
  overflow-x: scroll;
  /* the height is set using in-line javascript on the dasbhoard
  page itself. Probably not the best implimentation but time is
  of the essence */
}

.second-activity-container {
  position: relative;
  width: 100%;
  background-color: blue;
}

.activities-card {
  position: absolute;
  top: 0;
  width: 25%;
  display: block;
  margin: 0 1rem 0 1rem;
  background-color: #171717;
  color: white;
  padding: 1rem;
  float: left;
}

.side-bar p {
  padding: 0;
  margin: 0;
}

#activity-modal {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}
.large-activity-card {
  width: 50vw;
  background-color: white;
}

.dash-main-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 75%;
  margin: 0 auto;
  gap: 1rem;
}

.dash-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #171717;
  color: white;
}

.unstyled-link {
  text-decoration: none;
  color: white;
}

.unstyled-link:active {
  text-decoration: none;
  color: white;
}

.dash-button::after {
  content: "";
  display: block;
  padding-bottom: 50%;
}
/* ----------------------create form------------- */
.main-form-wrapper {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(10, 67, 125);
  background: linear-gradient(
    243deg,
    rgba(10, 67, 125, 1) 0%,
    rgba(162, 0, 255, 1) 100%
  );
}

.main-form-wrapper h2 {
  color: white;
}

.create-form {
  display: inline-block;
  padding: 2rem;
  background-color: white;
  border-radius: 15px;
}

.contact-table th,
.contact-table td {
  padding: 15px;
}

.form-control-changes {
  border-color: black;
}

.option-link {
  color: blue;
  direction: rtl;
}
